body{
  
    font-family: Arial;
    background-color: black;
    color:white;
    margin: 0;
    background-image: url(fund jpg);
}

h1{
    font-size: 60 px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 40px;
}
.paragrafo{
    color: aqua;
}
#tituloPrincipal{
    color:rgb(0,0,0 )
}
#gato{
    width: 200px;
    margin-left: 400px;
    padding: 40;
}