body{
    margin:0;
}
{header
    
 font-family: Arial;
    background-color: black;
    color:white;
    margin: 0;
    background-image: url(fund jpg);
}

h1{
    margin:0;
    padding: 0;
    background-color: blue;
    width: 40;
    border 10px solid#80ff00;
    font-size: 60 px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 40px;
}
.paragrafo{
    color: aqua;
}
#tituloPrincipal{
    color:rgb(0,0,0 )
}
#gato{
    background-color: red;
    width: 20px;
    margin:0;
    padding:0;
    border-style:solid;
}
