body{
  
    font-family: Arial;
    background-color: black;
    color:white;
    margin: 0;
}

h1{
    font-size: 60 px;
    text-align: center;
}


p{
    text-align: center;
    font-size: 40px;
}